@font-face {
  font-family: Raleway; /* Указываем название шрифта, которое будет использоваться в CSS */
  src: /* Задаем путь к файлам шрифта и их формат */
    url(./Raleway-Regular.woff2) format('woff2'), /* Путь к файлу шрифта в формате woff2 для обычного текста */
    url(./Raleway-Regular.woff) format('woff'); /* Путь к файлу шрифта в формате woff для обычного текста */
  font-weight: normal; /* Устанавливаем нормальное начертание текста */
  font-display: swap; /* Выбираем режим отображения шрифта: замена шрифта, если он не загружен */
}

@font-face {
  font-family: Raleway; /* Используем то же название шрифта для его разных начертаний */
  src: /* Задаем путь к файлам шрифта и их формат */
    url(./Raleway-Medium.woff2) format('woff2'), /* Путь к файлу шрифта в формате woff2 для полужирного текста */
    url(./Raleway-Medium.woff) format('woff'); /* Путь к файлу шрифта в формате woff для полужирного текста */
  font-weight: bold; /* Устанавливаем полужирное начертание текста */
  font-display: swap; /* Используем тот же режим отображения шрифта */
}
